.TextField {
  border-radius: 4px;
  padding: 1rem;
  box-sizing: border-box;
  border: 0;
  outline: none;
  color: gray;
}

.TextField:focus {
  border: 0;
  outline: none;
}

:global(.App.dark) .TextField {
  background-color: var(--dark-bg-color);
}

:global(.App.dark) .TextField:hover {
  background-color: var(--dark-hover-bg-color);
}

:global(.App.light) .TextField {
  background-color: var(--light-bg-color);
}

:global(.App.light) .TextField:hover {
  background-color: var(--light-hover-bg-color);
}