.ListItem {
  padding: 1rem;
  --dark-bg-color: var(--dark-bg-4);
  --light-bg-color: var(--light-bg-4);
  --dark-tag-bg-color: var(--dark-bg-2);
  --light-tag-bg-color: var(--light-bg-2);
  --dark-tag-text-color: gray;
  --light-tag-text-color: dimgray;
  --dark-hover-bg-color: var(--dark-bg-5);
  --light-hover-bg-color: var(--light-bg-5);
  --dark-divider-color: var(--dark-bg-2);
  --light-divider-color: var(--light-bg-2);
}

.indentedBlock {
  margin-left: 1.5rem;
  
  :global(.dark) & { border-left: 1px solid var(--dark-bg-2); }
  :global(.light) & { border-left: 1px solid var(--light-bg-2); }
}