.root {
  margin: 2rem;
  display: flex;
  flex-direction: column;

  > div {
    padding-top: 1rem;
    &:first-child { padding-top: 0; }
    padding-bottom: 1rem;
  }
}

.title {
  font-size: xx-large;
  font-weight: bold;
}

.detailsContainer > div {
  display: flex;
  align-items: center;
}