.root {
  flex: 2 70%;
  height: 100%;
  margin-left: 1rem;
  overflow-y: scroll;
  border-radius: 0.5rem;
  position: relative;
  display: flex;

  :global(.dark) & { background-color: var(--dark-bg-4); }
  :global(.light) & { background-color: var(--light-bg-4); }

  &.inactive {
    visibility: hidden;
    width: 0;
    margin: 0;
  }
}

.pane.left {
  width: 25%;
  overflow-y: scroll;

  :global(.dark) & { background-color: var(--dark-bg-3); }
  :global(.light) & { background-color: var(--light-bg-3); }
}

.pane.right {
  width: 75%;
  overflow-x: scroll;
  overflow-y: scroll;
}

.cross {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border-width: 0;
  border-radius: 0.5rem;
  padding: 0.5rem;
  z-index: 1;

  &:hover {
    :global(.dark) & { background-color: var(--dark-bg-3); }
    :global(.light) & { background-color: var(--light-bg-3); }
  }
}

.ListItem {
  padding: 1rem;
  --dark-hover-bg-color: var(--dark-bg-5);
  --light-hover-bg-color: var(--light-bg-5);
  --dark-divider-color: var(--dark-bg-2);
  --light-divider-color: var(--light-bg-2);
}

.ListItem.active {
  --dark-bg-color: var(--dark-bg-5);
  --light-bg-color: var(--light-bg-5);
}