.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  margin: 0px;

  :global(.dark) & { background-color: var(--dark-bg-0); }
  :global(.light) & { background-color: var(--light-bg-0); }
}

.left {
  display: flex;
  align-items: center;
}

.heading {
  margin: 0 1rem 0 0.5rem;
  font-weight: bold;
}

.dropdownItem {
  --dark-divider-color: var(--dark-bg-2);
  --light-divider-color: var(--light-bg-2);
  font-weight: normal;

  &:last-child {
    --dark-divider-color: unset;
    --light-divider-color: unset;
  }
}

.items {
  display: flex;
  justify-content: right;
  align-items: flex-end;

  > * {
    width: 3.5rem;
    height: 3.5rem;
    margin-right: 0.5rem;
    &:last-of-type { margin-right: 0; }
    border-radius: 0.2rem;
    background-color: transparent;
    border-color: transparent;
    font-size: 1.5rem;
    transition: all 0.2s;

    &:hover {
      :global(.dark) & { background-color: var(--dark-bg-1); }
      :global(.light) & { background-color: var(--light-bg-1); }
    }
  }
}