:global(.App.dark) .SearchResultCard {
  background-color: var(--dark-bg-color);
  border-bottom: 1px solid var(--dark-divider-color);
}

:global(.App.light) .SearchResultCard {
  background-color: var(--light-bg-color);
  border-bottom: 1px solid var(--light-divider-color);
}

:global(.App.dark) .SearchResultCard:hover {
  background-color: var(--dark-hover-bg-color);
}

:global(.App.light) .SearchResultCard:hover {
  background-color: var(--light-hover-bg-color);
}

.row {
  display: flex;
  flex-direction: row;
  /*justify-content: space-between;*/
}

.row > * {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  font-size: large;
  position: relative;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}

.tag {
  border-radius: 4px;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  white-space: nowrap;
}

:global(.App.dark) .tag {
  color: var(--dark-tag-text-color);
  background-color: var(--dark-tag-bg-color);
}

:global(.App.light) .tag {
  color: var(--light-tag-text-color);
  background-color: var(--light-tag-bg-color);
}

.subjectAndNumber {
  margin-left: 0;
}

.title {
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.description {
  width: 100%;
  margin-top: 0.5rem;
  font-size: 0.95rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}