.root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.body {
  flex: auto;
  display: flex;
  overflow: auto;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

:global(.App.dark) .body {
  background-color: var(--dark-bg-0);
}

:global(.App.light) .body {
  background-color: var(--light-bg-0);
}

:global(.App.dark) .pane.right {
  background-color: var(--dark-bg-4);
}

:global(.App.light) .pane.right {
  background-color: var(--light-bg-4);
}

:global(.App.dark) .pane.left {
  background-color: var(--dark-bg-5);
}

:global(.App.light) .pane.left {
  background-color: var(--light-bg-5);
}

.Navbar {
  --dark-bg-color: var(--dark-bg-0);
  --light-bg-color: var(--light-bg-0);
  --dark-item-hover-bg-color: var(--dark-bg-1);
  --light-item-hover-bg-color: var(--light-bg-1);
}

.pane.left {
  width: 30%;
  padding: 1rem;
  border-radius: 0.5rem 0 0 0.5rem;

  display: flex;
  flex-direction: column;

  overflow-y: scroll;
}

.pane.left .subheading {
  margin-bottom: -0.5rem;
}

.pane.left .row {
  display: flex;
  flex-direction: row;
}

.pane.left.inactive {
  width: 0;
  padding-left: 0;
  padding-right: 0;
}

.pane.right {
  display: flex;
  flex-direction: column;
  width: 70%;
  border-radius: 0 0.5rem 0.5rem 0;
  overflow-y: scroll;
  /*-ms-overflow-style: none;*/  /* IE, Legacy Edge */
  /*scrollbar-width: 16px;*/  /* Firefox */
}

.pane.right.inactive {
  width: 30%;
  border-radius: 0.5rem;
}

.TextField {
  --dark-bg-color: var(--dark-bg-3);
  --dark-hover-bg-color: var(--dark-bg-4);
  --light-bg-color: var(--light-bg-3);
  --light-hover-bg-color: var(--light-bg-4);
}

.TextField.search {
  margin-bottom: 2rem;
  font-size: large;
}

.TextField.credits {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.6rem  !important;
  font-size: smaller;
}

.TextField.credits.start {
  margin-right: 0.4rem;
}

.TextField.credits.end {
  margin-left: 0.4rem;
}

.ListItem {
  /*min-height: 4.5rem;*/
  padding: 1rem;
  transition: all 0.2s ease;
  --max-lines: 2;
  --dark-bg-color: var(--dark-bg-4);
  --light-bg-color: var(--light-bg-4);
  --dark-hover-bg-color: var(--dark-bg-5);
  --light-hover-bg-color: var(--light-bg-5);
  --dark-tag-bg-color: var(--dark-bg-2);
  --light-tag-bg-color: var(--light-bg-2);
  --dark-tag-text-color: gray;
  --light-tag-text-color: dimgray;
  --dark-divider-color: var(--dark-bg-3);
  --light-divider-color: var(--light-bg-3);
}

.ListItem.active {
  --dark-bg-color: var(--dark-bg-5);
  --light-bg-color: var(--light-bg-5);
}

.ListItem:hover {
  transition: all 0.2s ease;
}

.bgOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 60%;
  transition: all 0.2s ease;
}

.bgOverlay.inactive {
  visibility: hidden;
  opacity: 0;
}

.LoginBox {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 60%;
  height: 70%;
  transition: all 0.2s ease;
  --dark-left-pane-bg-color: var(--dark-bg-5);
  --light-left-pane-bg-color: var(--light-bg-5);
  --dark-right-pane-bg-color: var(--dark-bg-4);
  --light-right-pane-bg-color: var(--light-bg-4);
  --dark-text-field-bg-color: var(--dark-bg-1);
  --light-text-field-bg-color: var(--light-bg-1);
  --dark-text-field-hover-bg-color: var(--dark-bg-2);
  --light-text-field-hover-bg-color: var(--light-bg-2);
  --dark-submit-btn-bg-color: #0B492F;
  --light-submit-btn-bg-color: #77E4B6;
  --dark-submit-btn-hover-bg-color: #0B5335;
  --light-submit-btn-hover-bg-color: #7BF4C1;
}

.LoginBox.inactive {
  visibility: hidden;
  opacity: 0;
}

.CourseInfoBox {
  width: 70%;
  height: 100%;
  margin-left: 1rem;
  transition: all 0.2s ease;
  overflow-y: scroll;

  --dark-left-pane-bg-color: var(--dark-bg-3);
  --light-left-pane-bg-color: var(--light-bg-3);
  --dark-right-pane-bg-color: var(--dark-bg-4);
  --light-right-pane-bg-color: var(--light-bg-4);

  --dark-btn-bg-color: var(--dark-bg-4);
  --light-btn-bg-color: var(--light-bg-4);
  --dark-btn-hover-bg-color: var(--dark-bg-5);
  --light-btn-hover-bg-color: var(--light-bg-5);
  --dark-btn-divider-color: var(--dark-bg-2);
  --light-btn-divider-color: var(--light-bg-2);

  --dark-cross-btn-bg-color: var(--dark-bg-3);
  --light-cross-btn-bg-color: var(--light-bg-3);
}

.CourseInfoBox.inactive {
  visibility: hidden;
  width: 0;
  margin: 0;
}

@media only screen and (max-device-width: 480px) {
  .App-body {
    width: 100%;
    flex-direction: column;
  }

  .App-pane-left {
    width: auto;
    height: 30%;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  .App-pane-right {
    width: auto;
    height: 70%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    overflow-y: unset;
    background-color: transparent;
  }
}