.LoginBox {
  border-radius: 0.5rem;
  display: flex;
}

.pane.left {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem 0 0 0.5rem;
  font-size: inherit;
}

:global(.App.dark) .pane.left {
  background-color: var(--dark-left-pane-bg-color);
}

:global(.App.light) .pane.left {
  background-color: var(--light-left-pane-bg-color);
}

.pane.right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

:global(.App.dark) .pane.right {
  background-color: var(--dark-right-pane-bg-color);
}

:global(.App.light) .pane.right {
  background-color: var(--light-right-pane-bg-color);
}

.loginBenefits {
  margin-left: 10%;
  margin-right: 10%;
  font-size: inherit;
}

.heading {
  text-align: center;
  font-size: 2vw;
  font-weight: bold;
}

.detail {
  text-align: center;
  list-style: none;
  list-style-position: inside;
  font-size: 1.18vw;
  margin-top: 0.5rem;
}

.login {
  width: 75%;
}

.login > * {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  width: 100%;
}

/*:global(.App.dark) .email, :global(.App.dark) .password {
  background-color: var(--dark-text-field-bg-color);
}

:global(.App.light) .email, :global(.App.light) .password {
  background-color: var(--light-text-field-bg-color);
}

:global(.App.dark) .email:hover, :global(.App.dark) .password:hover {
  background-color: var(--dark-text-field-bg-color);
}

:global(.App.light) .email:hover, :global(.App.light) .password:hover {
  background-color: var(--light-text-field-bg-color);
}*/

.email, .password {
  --dark-bg-color: var(--dark-text-field-bg-color);
  --light-bg-color: var(--light-text-field-bg-color);
  --dark-hover-bg-color: var(--dark-text-field-hover-bg-color);
  --light-hover-bg-color: var(--light-text-field-hover-bg-color);
}


.submit {
  border-radius: 4px;
  width: 100%;
  border: 0;
  outline: none;
  color: gray;
  background-color: #16351B;
  padding: 0.6rem;
  font-size: smaller;
  box-sizing: border-box;
  transition: all 0.2s ease;
}

.submit:hover {
  transition: all 0.2s ease;
  background-color: #194120;
}