.CheckButton {
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
  border: 0;
  outline: none;
  color: gray;
  transition: all 0.2s ease;
}

:global(.App.dark) .CheckButton {
  background-color: var(--dark-bg-color);
}

:global(.App.light) .CheckButton {
  background-color: var(--light-bg-color);
}

.CheckButton:hover {
  transition: all 0.2s ease;
}

:global(.App.dark) .CheckButton:hover {
  background-color: var(--dark-hover-bg-color);
}

:global(.App.light) .CheckButton:hover {
  background-color: var(--light-hover-bg-color);
}

.unchecked {
  transition: all 0.075s ease;
}

.checked {
  transition: all 0.075s ease;
}

:global(.App.dark) .CheckButton:active {
  background-color: var(--dark-checked-bg-color);
}

:global(.App.light) .CheckButton:active {
  background-color: var(--light-checked-bg-color);
}