.Tabs {
  display: flex;
  flex-direction: column;
}

.Tabs > button {
  text-align: start;
  font-size: large;
  width: 100%;
  background-color: transparent;
  border: 0;
  padding: 1rem;
  transition: all 0.2s ease;
}

.Tabs > button:hover {
  transition: all 0.2s ease;
  background-color: #AAAAAA30;
}

.Tabs > button.active {
  transition: all 0.2s ease;
  background-color: #AAAAAA20;
}