.ListItem {
  padding: 1rem;
  --dark-hover-bg-color: var(--dark-bg-5);
  --light-hover-bg-color: var(--light-bg-5);
  --dark-tag-bg-color: var(--dark-bg-2);
  --light-tag-bg-color: var(--light-bg-2);
  --dark-tag-text-color: gray;
  --light-tag-text-color: dimgray;
  --dark-divider-color: var(--dark-bg-2);
  --light-divider-color: var(--light-bg-2);
}

.ListItem.active {
  --dark-bg-color: var(--dark-btn-hover-bg-color);
  --light-bg-color: var(--light-btn-hover-bg-color);
}

.details {
  display: flex;
  align-items: center;
}

.details > .left {
  width: 50%;
}

.icon {
  margin-right: 0.2rem;
  width: 2rem;
  height: 0.9rem;
}

.WeeklySchedule {
  margin-bottom: 0.5rem;
}

.WeeklySchedule:last-of-type {
  margin-bottom: 0;
}