.CourseInfoBox {
  border-radius: 0.5rem;
  display: flex;
  position: relative;
  display: flex;
}

:global(.App.dark) .CourseInfoBox {
  background-color: var(--dark-right-pane-bg-color);
}

:global(.App.light) .CourseInfoBox {
  background-color: var(--light-right-pane-bg-color);
}

.pane.left {
  width: 25%;
  overflow-y: scroll;
}

:global(.App.dark) .pane.left {
  background-color: var(--dark-left-pane-bg-color);
}

:global(.App.light) .pane.left {
  background-color: var(--light-left-pane-bg-color);
}

.pane.right {
  width: 75%;
  /*padding: 2rem;*/
  overflow-x: scroll;
  overflow-y: scroll;
}

.cross {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border-width: 0;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

:global(.App.dark) .cross:hover {
  background-color: var(--dark-cross-btn-bg-color);
}

:global(.App.light) .cross:hover {
  background-color: var(--light-cross-btn-bg-color);
}

.ListItem {
  /*min-height: 4.5rem;*/
  padding: 1rem;
  transition: all 0.2s ease;
  --dark-bg-color: var(--dark-bg-color);
  --light-bg-color: var(--light-bg-color);
  --dark-hover-bg-color: var(--dark-btn-hover-bg-color);
  --light-hover-bg-color: var(--light-btn-hover-bg-color);
  --dark-tag-bg-color: var(--dark-bg-2);
  --light-tag-bg-color: var(--light-bg-2);
  --dark-tag-text-color: gray;
  --light-tag-text-color: dimgray;
  --dark-divider-color: var(--dark-btn-divider-color);
  --light-divider-color: var(--light-btn-divider-color);
}

.ListItem.active {
  --dark-bg-color: var(--dark-btn-hover-bg-color);
  --light-bg-color: var(--light-btn-hover-bg-color);
}