.CourseInfoBox {
  border-radius: 0.5rem;
  display: flex;
  position: relative;
}

:global(.App.dark) .CourseInfoBox {
  background-color: var(--dark-bg-color);
}

:global(.App.light) .CourseInfoBox {
  background-color: var(--light-bg-color);
}

.cross {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border-width: 0;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

:global(.App.dark) .cross {
  background-color: var(--dark-cross-btn-bg-color);
}

:global(.App.light) .cross {
  background-color: var(--light-cross-btn-bg-color);
}

.Tabs :global(.Tabs__tabContainer) {
  min-width: 25%;
  overflow-y: scroll;
}

.Tabs :global(.Tabs__viewContainer) {
  padding: 2rem;
}

.overview {
  display: flex;
  flex-direction: column;
}

.overview > div {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.overview > div:nth-child(1) {
  padding-top: 0;
}

.title {
  font-size: xx-large;
  font-weight: bold;
}

.prereqList-nested.inactive {
  display: none;
}

.prereqNode {
  padding: 0.5em;
  border-radius: 0.5em;
  border: 0;
}