.CourseInfoBox {
  border-radius: 0.5rem;
  display: flex;
  position: relative;
  display: flex;
}

:global(.App.dark) .CourseInfoBox {
  background-color: var(--dark-right-pane-bg-color);
}

:global(.App.light) .CourseInfoBox {
  background-color: var(--light-right-pane-bg-color);
}

.pane.left {
  width: 20%;
}

:global(.App.dark) .pane.left {
  background-color: var(--dark-left-pane-bg-color);
}

:global(.App.light) .pane.left {
  background-color: var(--light-left-pane-bg-color);
}

.pane.right {
  width: 80%;
  padding: 2rem;
}

.cross {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border-width: 0;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

:global(.App.dark) .cross {
  background-color: var(--dark-cross-btn-bg-color);
}

:global(.App.light) .cross {
  background-color: var(--light-cross-btn-bg-color);
}

.ListItem {
  /*min-height: 4.5rem;*/
  padding: 1rem;
  transition: all 0.2s ease;
  --dark-bg-color: var(--dark-bg-color);
  --light-bg-color: var(--light-bg-color);
  --dark-hover-bg-color: var(--dark-btn-hover-bg-color);
  --light-hover-bg-color: var(--light-btn-hover-bg-color);
  --dark-tag-text-color: gray;
  --light-tag-text-color: dimgray;
  --dark-divider-color: var(--dark-btn-divider-color);
  --light-divider-color: var(--light-btn-divider-color);
}

.ListItem.active {
  --dark-bg-color: var(--dark-btn-hover-bg-color);
  --light-bg-color: var(--light-btn-hover-bg-color);
}

.ListItem:hover {
  transition: all 0.2s ease;
}

.overview {
  display: flex;
  flex-direction: column;
}

.overview > div {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.overview > div:nth-child(1) {
  padding-top: 0;
}

.title {
  font-size: xx-large;
  font-weight: bold;
}

.prereqList-nested.inactive {
  display: none;
}

.prereqNode {
  padding: 0.5em;
  border-radius: 0.5em;
  border: 0;
}

.prereqNode.operator {
  font-style: italic;
}

.prereqNode.course {
  background-color: transparent;
  padding: 0;
  font-size: medium;
  text-decoration: underline;
  margin-left: 0.5rem;
}