.root {
  width: 85%;
  height: 90%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 0.5rem;
  display: flex;

  :global(.dark) & { background-color: var(--dark-bg-5); }
  :global(.light) & { background-color: var(--light-bg-5); }

  &.inactive {
    visibility: hidden;
    opacity: 0;
  }
}

.pane {
  box-sizing: border-box;

  &.left {
    flex: 1 auto;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    border-radius: 0.5rem 0 0 0;

    :global(.dark) & { background-color: var(--dark-bg-4); }
    :global(.light) & { background-color: var(--light-bg-4); }
  }

  &.right {
    flex: 1 80%;
  }
}

.leftContainer {
  flex: 1 20%;
  display: flex;
  flex-direction: column;
}

.signOut {
  flex: 0 auto;
  padding: 1rem;
  font-weight: bold;
  border: 0;
  border-radius: 0 0 0 0.5rem;

  :global(.dark) & {
    background-color: var(--dark-bg-4);
    border-top: 1px solid var(--dark-bg-2);
  }

  :global(.right) & {
    background-color: var(--light-bg-4);
    border-top: 1px solid var(--light-bg-2);
  }
}

.profileIcon {
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  line-height: 10rem;
  font-size: 4rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  text-align: center;

  :global(.dark) & { background-color: var(--dark-bg-2); }
  :global(.light) & { background-color: var(--light-bg-2); }
}

.displayName {
  font-weight: bold;
  text-align: center;
  padding-bottom: 1.5rem;

  :global(.dark) & { border-bottom: 1px solid var(--dark-bg-2); }
  :global(.light) & { border-bottom: 1px solid var(--dark-bg-2); }
}

.tab {
  padding: 1rem;
  --dark-hover-bg-color: var(--dark-bg-5);
  --light-hover-bg-color: var(--light-bg-5);
  --dark-tag-bg-color: var(--dark-bg-2);
  --light-tag-bg-color: var(--light-bg-2);
  --dark-tag-text-color: gray;
  --light-tag-text-color: dimgray;
  --dark-divider-color: var(--dark-bg-2);
  --light-divider-color: var(--light-bg-2);
}